.gallery-page {
  padding: 2rem;
  background: linear-gradient(to bottom, #1a1a1a, #000);
  color: white;
  min-height: 100vh;
}

.gallery-header h1 {
  font-size: 3rem;
  margin-bottom: 0.25rem;
}

.gallery-header p {
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.gallery-item {
  position: relative;
  height: 200px;
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-label {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: red;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
}

.gallery-easteregg{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  color: red;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem; 
}
